@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: InterTight;
	font-display: swap;
	src: url("../fonts/InterTight-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: MoniqaHeading;
	font-display: swap;
	src: url("../fonts/MoniqaHeading-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MoniqaHeading;
	font-display: swap;
	src: url("../fonts/MoniqaHeading-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: MoniqaHeadingNarrow;
	font-display: swap;
	src: url("../fonts/MoniqaHeadingNarrow-Black.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: MoniqaHeadingNarrow;
	font-display: swap;
	src: url("../fonts/MoniqaHeadingNarrow-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MoniqaParagraph;
	font-display: swap;
	src: url("../fonts/MoniqaParagraph-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MoniqaParagraphNarrow;
	font-display: swap;
	src: url("../fonts/MoniqaParagraphNarrow-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: MyriadPro;
	font-display: swap;
	src: url("../fonts/MyriadPro-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: MyriadPro;
	font-display: swap;
	src: url("../fonts/MyriadPro-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: MyriadPro;
	font-display: swap;
	src: url("../fonts/MyriadPro-Semibold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: MyriadProSemiCondensed;
	font-display: swap;
	src: url("../fonts/MyriadProSemiCondensed-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: TransformaSansTrial;
	font-display: swap;
	src: url("../fonts/TransformaSansTrial-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: TransformaSansTrial;
	font-display: swap;
	src: url("../fonts/TransformaSansTrial-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: TransformaSansTrial;
	font-display: swap;
	src: url("../fonts/TransformaSansTrial-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: TransformaSansTrial;
	font-display: swap;
	src: url("../fonts/TransformaSansTrial-SemiBold.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

